*{
    margin: 0px;
}

.header{
    background-color: #EDEDED;
    min-height: 80px;
}

.header > .header-icon-placeholder{
    min-width: 190px;
    min-height: 31px;
    background-color: #F5A000;
}