*{
    margin: 0px;
}

.header{
    background-color: #EDEDED;
    min-height: 80px;
}

.header > div> .header-icon-placeholder{
    margin-top: 24px;
    position: absolute;
    min-width: 190px;
    min-height: 31px;
    max-width: 190px;
    max-height: 31px;
    background-color: #F5A000;
    text-align: center;
    order:2;
}

.tagline{
    font-family: Lato, Bold Italic;
    font-size: 9px;
    text-align:  center;

}

.header{
    border-bottom: #F5A000 solid 2px;
}

.footer{
    min-width: 1280px;
    min-height: 345px;
    background-color: #000000;
}