:root {

    /* Colors: */
    --unnamed-color-8b887a: #8B887A;
    --unnamed-color-3a3a3a: #3A3A3A;
    --unnamed-color-f5a000: #F5A000;
    
    /* Font/text values */
    --unnamed-font-family-lato: Lato;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-900: 900px;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-35: 35px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-19: 19px;
    --unnamed-line-spacing-42: 42px;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-900);
    font-size: var(--unnamed-font-size-35);
    line-height: var(--unnamed-line-spacing-42);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f5a000);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-900);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3a3a3a);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3a3a3a);
    }